@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var codigo = Context.Response.StatusCode;
}

<head>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")'; // Redirige a la página de inicio
        }, 3500); // 5000 milisegundos = 5 segundos
    </script>
</head>

<h1 class="text-danger">¡Error!</h1>

@if (codigo == 401)
{
    <h2 class="text-danger">Acceso no autorizado</h2>
}
else
{
    <h2 class="text-danger">@ViewData["ErrorMessage"]</h2>
}
