@{
    ViewData["Title"] = "Inicio";
}


    <header>
        <h1 class="text-center text-primary">Bienvenido a la página principal del Tablero Kanban KB</h1>
    </header>

    <main class="mt-4">
        <section class="mb-2">
            <h2 class="text-secondary">¿Qué es un Tablero Kanban?</h2>
            <p>Un Tablero Kanban es una herramienta visual que ayuda en la gestión de proyectos y tareas. Se basa en
                tarjetas y columnas para representar y organizar el trabajo de manera eficiente.</p>
        </section>
        <section class="mb-3"> 
            <h3 class="text-info">Características Clave</h3>
            <ol class="list-group list-group-numbered">
                <li class = "list-style-group">Columnas representan estados del flujo de trabajo.</li>
                <li class = "list-style-group">Tarjetas contienen detalles de las tareas.</li>
                <li class = "list-style-group">Visualización clara del progreso.</li>
                <li class = "list-style-group">Promueve la colaboración y la transparencia.</li>
            </ol>
        </section>
        <section class="mb-2">
            <h3 class="mb-3 text-info">¿Cómo Utilizar un Tablero Kanban?</h3>
            <p>1. <strong>Crea Columnas:</strong> Define los estados por los que pasará una tarea, como 'Por Hacer', 'En
                Progreso' y 'Completado'.</p>
            <p>2. <strong>Añade Tarjetas:</strong> Crea tarjetas para cada tarea y muévelas entre las columnas a medida
                que avanzan.</p>
            <p>3. <strong>Visualiza el Flujo:</strong> Obtén una visión clara del trabajo en curso y la distribución de
                tareas.</p>
        </section>

        <section class="mb-2">
            <h3 class="text-info">Consejos para una Implementación Efectiva</h3>
            <ol class = "list-group list-group-numbered">
                <li class = "list-style-group">Adapta el tablero a las necesidades específicas de tu equipo.</li>
                <li class = "list-style-group">Limita el trabajo en curso para evitar la sobrecarga.</li>
                <li class = "list-style-group">Actualiza regularmente el tablero para reflejar el progreso real.</li>
                <li class = "list-style-group">Fomenta la comunicación y colaboración entre los miembros del equipo.</li>
            </ol>
        </section>

        <!-- Agrega más secciones según la información que desees proporcionar -->

    </main>